.outer-photo-box {
  width: 300px;
  height: 194px;
  display: block;
  position: relative; }
  .outer-photo-box img {
    width: 300px;
    height: auto; }
  .outer-photo-box .inner-photo-box {
    background: #c8c8c8;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s; }
    .outer-photo-box .inner-photo-box p {
      color: #fff;
      line-height: 150px;
      font-family: 'arial';
      text-align: center; }
  .outer-photo-box:hover .inner-photo-box {
    opacity: .9;
    transition: opacity .5s; }
