@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulma-extensions/extensions.sass';
@import './_normalize.css';
@import 'sass/places.scss';
@import 'sass/map.scss';
@import 'sass/social.scss';

/* Nav */

/* Home page classes */

.homepage-introblock, .homepage-events, .eventspage-main, .eventpage-events {
    background-color: #fff;
    padding: 0;
    margin: 0;
    padding-top: 2.35rem;
    padding-bottom: 2.35rem;
}

.homepage-events, .eventpage-events {
    background-color: whitesmoke;
}
.ferns{
    background-image: url('assets/iStock-504241498.jpg');
}

.arms {
    background-image: url('assets/NIC_0713.jpg');
}

.footimg{
    background-image: url('assets/iStock-589939788.jpg')
}

.footer {
    ul li:first-child {
        margin-bottom: 1rem;
        font-weight: 600;
    }
}

.homepage-hero {
    background: url('assets/NIC_0713.jpg') no-repeat center center fixed;
    color: white;
}

// .fg {
//     padding-bottom: 3rem;
//     padding-top: 3rem;
// }

.fg {
    padding: 1.5rem;
}

/*!
 * https://github.com/arqex/react-datetime
 */

.rdt {
  position: relative;
}

.rdt > input {
  border: 1px solid #000;
}

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtToday:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtDayPart {
  margin-top: 43px;
}
// .bl {
//     border-left-style: solid;
//     border-left-width: 1px;
// }

// .b--gold {
//     border-color: #ffb700;
// }

// .bw1 {
//     border-width: .125rem;
// }

// .dib {
//     display: inline-block;
// }

// .sans-serif {
//     font-family: -apple-system,
//                  BlinkMacSystemFont,
//                  'avenir next',
//                  avenir,
//                  'helvetica neue',
//                  helvetica,
//                  ubuntu,
//                  roboto,
//                  noto,
//                  'segoe ui',
//                  arial,
//                  sans-serif;
// }

// .georgia {
//     font-family: georgia, serif;
// }

// .i {
//     font-style: italic;
// }

// .fw1 {
//     font-weight: 100;
// }

// .tracked {
//     letter-spacing: .1em;
// }

// .tracked-tight {
//     letter-spacing: -.05em;
// }

// .lh-title {
//     line-height: 1.25;
// }

// .lh-copy {
//     line-height: 1.5;
// }

// .mw9 {
//     max-width: 96rem;
// }


// .black-80 {
//     color: rgba(0, 0, 0, .8);
// }

// .white {
//     color: #fff;
// }

// .bg-black-90 {
//     background-color: rgba(0, 0, 0, .9);
// }

// .bg-gold {
//     background-color: #ffb700;
// }

// .bg-leafygreen {
//     background-color:  #ffb700;
// }

// .pa1 {
//     padding: .25rem;
// }

// .pa4 {
//     padding: 2rem;
// }

// .pl4 {
//     padding-left: 2rem;
// }

// .mb2 {
//     margin-bottom: .5rem;
// }

// .mb4 {
//     margin-bottom: 2rem;
// }

// .mv0 {
//     margin-top: 0;
//     margin-bottom: 0;
// }

// .ttu {
//     text-transform: uppercase;
// }

// .f2 {
//     font-size: 2.25rem;
// }

// .f3 {
//     font-size: 1.5rem;
// }

// .f5 {
//     font-size: 1rem;
// }

// .f6 {
//     font-size: .875rem;
// }

// .measure {
//     max-width: 30em;
// }

// .measure-narrow {
//     max-width: 20em;
// }

// .center {
//     margin-right: auto;
//     margin-left: auto;
// }

// @media screen and (min-width: 30em) {
//     .pt5-ns {
//         padding-top: 2rem;
//     }

//     .f3-ns {
//         font-size: 1.5rem;
//     }

//     .f4-ns {
//         font-size: 1.25rem;
//     }

//     .f5-ns {
//         font-size: 1rem;
//     }
// }

// @media screen and (min-width: 30em) and (max-width: 60em) {
//     .f1-m {
//         font-size: 3rem;
//     }
// }

// @media screen and (min-width: 60em) {
//     .mw9-l {
//         max-width: 96rem;
//     }

//     .ph7-l {
//         padding-left: 16rem;
//         padding-right: 16rem;
//     }

//     .f-headline-l {
//         font-size: 4rem;
//     }
// }

// .dib {
//     display: inline-block;
// }

// .h2 {
//     height: 2rem;
// }

// .link {
//     text-decoration: none;
//     transition: color .15s ease-in;
// }

// .link:link, .link:visited {
//     transition: color .15s ease-in;
// }

// .link:hover {
//     transition: color .15s ease-in;
// }

// .link:active {
//     transition: color .15s ease-in;
// }

// .link:focus {
//     transition: color .15s ease-in;
//     outline: 1px dotted currentColor;
// }

// .w2 {
//     width: 2rem;
// }

// .near-black {
//     color: #111;
// }

// .hover-silver:hover {
//     color: #999;
// }

// .hover-silver:focus {
//     color: #999;
// }

// .pv4 {
//     padding-top: 2rem;
//     padding-bottom: 2rem;
// }

// .ph3 {
//     padding-left: 1rem;
//     padding-right: 1rem;
// }

// .mr3 {
//     margin-right: 1rem;
// }

// .tc {
//     text-align: center;
// }

// @media screen and (min-width: 30em) {
//     .ph5-ns {
//         padding-left: 4rem;
//         padding-right: 4rem;
//     }
// }





// .cover {
//     background-size: cover !important;
// }

// .bt {
//     border-top-style: solid;
//     border-top-width: 1px;
// }

// .b--black-10 {
//     border-color: rgba(0, 0, 0, .1);
// }

// .cf:before, .cf:after {
//     content: " ";
//     display: table;
// }

// .cf:after {
//     clear: both;
// }

// .cf {
//     *zoom: 1;
// }

// .dn {
//     display: none;
// }

// .db {
//     display: block;
// }

// .dt {
//     display: table;
// }

// .dtc {
//     display: table-cell;
// }

// .fl {
//     float: left;
//     _display: inline;
// }

// .serif {
//     font-family: georgia, times, serif;
// }

// .helvetica {
//     font-family: 'helvetica neue', helvetica, sans-serif;
// }

// .fw6 {
//     font-weight: 600;
// }

// .fw9 {
//     font-weight: 900;
// }

// .vh-100 {
//     height: 100vh;
// }

// .lh-title {
//     line-height: 1.25;
// }

// .lh-copy {
//     line-height: 1.5;
// }

// .mw6 {
//     max-width: 32rem;
// }

// .w-50 {
//     width: 50%;
// }

// .w-100 {
//     width: 100%;
// }

// .black {
//     color: #000;
// }

// .bg-light-pink {
//     background-color: #ffa3d7;
// }

// .pl2 {
//     padding-left: .5rem;
// }

// .pr1 {
//     padding-right: .25rem;
// }

// .pb3 {
//     padding-bottom: 1rem;
// }

// .pb5 {
//     padding-bottom: 4rem;
// }

// .pv4 {
//     padding-top: 2rem;
//     padding-bottom: 2rem;
// }

// .ph3 {
//     padding-left: 1rem;
//     padding-right: 1rem;
// }

// .f2 {
//     font-size: 2.25rem;
// }

// .f4 {
//     font-size: 1.25rem;
// }

// .f5 {
//     font-size: 1rem;
// }

// .f6 {
//     font-size: .875rem;
// }

// .measure {
//     max-width: 30em;
// }

// .center {
//     margin-right: auto;
//     margin-left: auto;
// }

// .v-mid {
//     vertical-align: middle;
// }

// @media screen and (min-width: 30em) {
//     .fw4-ns {
//         font-weight: 400;
//     }
// }

// @media screen and (min-width: 30em) and (max-width: 60em) {
//     .ph4-m {
//         padding-left: 2rem;
//         padding-right: 2rem;
//     }

//     .f3-m {
//         font-size: 1.5rem;
//     }

//     .f5-m {
//         font-size: 1rem;
//     }
// }

// @media screen and (min-width: 60em) {
//     .dt-l {
//         display: table;
//     }

//     .dtc-l {
//         display: table-cell;
//     }

//     .w-50-l {
//         width: 50%;
//     }

//     .pl0-l {
//         padding-left: 0;
//     }

//     .pl2-l {
//         padding-left: .5rem;
//     }

//     .pr0-l {
//         padding-right: 0;
//     }

//     .pr2-l {
//         padding-right: .5rem;
//     }

//     .pr3-l {
//         padding-right: 1rem;
//     }

//     .pv4-l {
//         padding-top: 2rem;
//         padding-bottom: 2rem;
//     }

//     .ph5-l {
//         padding-left: 4rem;
//         padding-right: 4rem;
//     }

//     .f-subheadline-l {
//         font-size: 5rem;
//     }

//     .f1-l {
//         font-size: 3rem;
//     }

//     .f4-l {
//         font-size: 1.25rem;
//     }

//     .measure-l {
//         max-width: 30em;
//     }
// }
