@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css';
/*@import 'https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css';*/
@import 'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
